body {
  color: black;
  background-color: lightskyblue;
}
.idea-box {
  background-color: lightskyblue;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  color: darkblue;
  border-bottom: 2px black double;
  font-family: sans-serif;
  font-size: 32pt
}

.post {
  color: black;
  margin: 50px;
  padding: 15px;
  border: 3px solid #225378;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}

h5 {
  text-align: bottom-right;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color: blue;
}

li a:hover {
  background-color: #4caf50;
}

form {
  background-color: lightblue;
  text-align: left;
  padding: 10px;
  border: 2px solid #225378;
  border-radius: 10px;
}

.note {
  display: none;
  position: fixed;
  top: 28.5%;
  left: 40%;
  background-color: white;
  font-size: 20px;
  padding: 5px;
  border: 2px solid #225378;
  border-radius: 10px;
}

.note.shown {
  display: block;
}

.author {
    color: #eb7f00;
}
